# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# NodeJS
node_modules/
dist/
.DS_Store

# IDEs
.vscode/
.idea/

# PocketFlow specific
# backend/workflows/*.json 

# Logs
*.log

# Add src folder to be ignored
/src/
/src/**/*
